{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Panchayath</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />


  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static '/css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static '/css/responsive.css'%}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand mr-5" href="index.html">
            <img src="{% static '/images/mgnrega-kerala.png' %}" alt="">
            <span>
              Panchayath
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html"> About </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="service.html"> Service </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact us</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="login.html">Login</a>
                </li>
              </ul>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <div class="body_bg layout_padding">

    <!-- service section -->

    <section class="service_section ">
      <div class="container">
        <div class="heading_container">
          <h2>
          Service
          </h2>
        </div>
      </div>
      <div>
        <p>
          The core objectives of the Scheme are the following:

· Providing not less than one hundred days of unskilled manual work as a guaranteed employment in a financial year to every household in rural areas as per demand, resulting in creation of productive assets of prescribed quality and durability

·  Strengthening the livelihood resource base of the poor

·  Proactively ensuring social inclusion

·  Strengthening Panchayat raj institutions.

Subsequently, Idukki and Kasargod districts were included in the second phase notified as on 1.4.2007.  As on 1.4.2008, the Scheme was extended to the remaining districts.

The State right from inception has taken several bold steps to ensure quality and accountability in the implementation of the Scheme as follows:-

· Hundred percent implementation of the Scheme is at the Grama Panchayat level

· Each worker is required to open a Bank/Post office/Cooperative Bank Account and the wages are credited to the worker account. There is no joint account

· Each ward is having a Vigilance and Monitoring Committee (V & MC) to oversee the implementation of the Scheme

· The Grama Panchayat Secretary is the registration officer under Mahatma Gandhi NREGS. The GP Secretary is assisted by an Assistant Secretary (in 864 GP out of the total 978 GPs) in the implementation of Mahatma Gandhi NREGS. In addition, the accountant and one section clerk in the Grama Panchayat fully deals with the day to day affairs of the Scheme at the GP level.  Further, each Grama Panchayat is having two Village Extension Officers who are also supporting the GP Secretary in the implementation of Mahatma Gandhi NREGS.  In order to support the Grama Panchayat Secretary, data entry operator cum accountants and Engineers/Overseers are provided on contract for a period of one year which can be extended by the GP. The selection of the contract staff vests upon the concerned GP.
        </p>
      </div>
      </div>
    </section>

    <!-- end service section -->

  </div>
  <!-- info section -->

  <!--<section class="info_section layout_padding">
    <div class="footer_contact">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      <div class="box">
        <a href="" class="img-box">
         
        </a>
        <a href="" class="img-box">
          
        </a>
        <a href="" class="img-box">
          
        </a>
      </div>
    </div>


  </section>-->


  <!-- end info section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      @ All Rights Reserved By MGNREGA.
      <a href="https://html.design/"></a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/bootstrap.js' %}"></script>

</body>

</html>